*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 90vw;
    height:90vh;
    display: grid;
    grid-template-rows: 20% 50% 20%;
    row-gap: 20px;
    margin: 40px auto;
}
header{
  
    border: 4px solid;
    display:grid;
    place-items: center;
}
main{
    
    border: 4px solid;
    display:grid;
    place-items: center;
}
footer{
   
    border: 4px solid;
    display:grid;
    place-items: center;
}